.SignInForm {
  background-color: white;
  width: 350px;
  margin: 50px auto;
  padding: 2rem;
  text-align: center;
}

.SignInForm__title {
  margin-block: 0.25rem 1rem;
}

.SignInForm__input-remember {
  display: flex;
}

.SignInForm__input-remember input {
  margin-right: 0.5rem;
}

.SignInForm__button {
  display: block;
  width: 100%;
  padding: 8px;
  font-size: 1.1rem;
  font-weight: bold;
  margin-top: 1rem;
  border-color: var(--color-jade);
  background-color: var(--color-jade);
  color: #fff;
}

.SignInForm label {
  font-weight: bold;
}

.SignInForm input {
  padding: 5px;
  font-size: 1.2rem;
}

.input-remember label {
  margin-left: 0.25rem;
}

.SignInForm__input-wrapper {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-bottom: 1rem;
}

.SignInForm__error-message {
  background: rgba(255, 0, 0, 0.8);
  color: white;
  padding: 1rem 0.5rem;
  margin-bottom: 1rem;
  font-weight: bold;
  font-size: 0.9rem;
  text-align: center;
}

.SignInForm__button:disabled {
  color: #ffffff9c;
  border-style: inset;
}
