.Profile {
  background: var(--color-gray--medium);
  text-align: center;
  padding: 50px;
}

.Profile__edit-name-btn {
  border-color: var(--color-jade);
  background-color: var(--color-jade);
  color: white;
  font-weight: bold;
  padding: 0.4rem 0.625rem;
  margin: 1rem;
}

.container {
  display: flex;
  justify-content: center;
  font-size: 0;
  gap: 0.5rem;
  margin-top: 1rem;
  width: 100%;
}

.Profile input {
  border: 2px solid var(--color-gray--dark);
  border-radius: 4px;
  padding: 0.5rem 1rem;
  color: var(--color-gray--dark);
  font-weight: bold;
  margin: 0;
  font-size: 1rem;
}

.Profile__form-button {
  border: 2px solid var(--color-purple);
  border-radius: 4px;
  color: var(--color-purple);
  padding: 0.5rem 2rem;
  margin: 0;
  width: 7.5rem;
}

.Profile__transactions {
  margin-top: 3rem;
}
