.Profile {
  background: var(--color-gray--medium);
  text-align: center;
  padding: 50px;
}

.Profile__edit-name-btn {
  border-color: var(--color-jade);
  background-color: var(--color-jade);
  color: white;
  font-weight: bold;
  padding: 0.4rem 0.625rem;
  margin: 1rem;
}

.Profile__transactions {
  margin-top: 3rem;
}
