.Home__hero {
  background-image: url("../../assets/images/bank-tree.jpeg");
  background-position: 0 33%;
  background-size: cover;
  background-repeat: no-repeat;
  height: 400px;
  display: grid;
  justify-content: end;
  align-items: center;
  padding: 50px;
}

.Home__hero-content {
  padding: 2rem;
  background: white;
  width: 360px;
  line-height: 1.8rem;
}

.Home__hero__subtitle {
  font-weight: bold;
  font-size: 1.5rem;
}

.Home__hero__text {
  margin-top: 1.2rem;
  font-size: 1.2rem;
}

.Home__features {
  display: flex;
}




@media (max-width: 920px) {
  .Home__hero {
    justify-content: center;
  }

  .Home__features {
    flex-direction: column;
  }

}